.auth-layout {
  &__header {
    background: var(--layout-bg);
    color: var(--main-opposite-text);

    &-container {
      height: 80px;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: $tablet) {
      display: none;
    }

    &_m {
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }
  }

  &__logo {
    display: flex;
    gap: 24px;
  }

  &_container {
    max-width: 420px;
    padding: 0 16px 24px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
      height: calc(100vh - 65px);
    }
  }

}