
.double-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: calc(100vh - 150px);

  &__reverse {
    flex-direction: row-reverse;

    .double-layout__image {
      text-align: right;
    }
  }


  @media (max-width: $mobileSmall) {
    display: block;
    max-width: 100%;
  }

  &__content {
    flex: 0 0 45%;
  }

  &__mobile-support {
    display: none;
    text-align: right;

    @media (max-width: $mobileSmall) {
      display: block;
    }
  }

  &__image {
    flex: 0 0 50%;
    position: relative;

    @media (max-width: $mobileSmall) {
      display: none;
    }

    img {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}