.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  width: 100%;




  &_d {
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }

  &_m {
    display: none;

    @media (max-width: $mobileSmall) {
      display: inline-block;
      margin-top: 0;
      width: auto;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
    transform: rotate(180deg);
    background-image: var(--primary);
    background-clip: text;
    color: transparent;
    font-size: 23px;

    @media (max-width: $mobileSmall) {
      font-size: 33px;
    }
  }
}