.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


  @include adaptiveValue('margin-bottom', 20, 16);

  & > * {
    @include adaptiveValue('margin-bottom', 20, 16);

    &:last-child {
      margin-bottom: 0;
    }
  }
}