// link fonts Outer-Sans from folder ./fonts
@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Alt Black PERSONAL USE.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Alt Bold PERSONAL USE.otf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Medium PERSONAL USE.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Alt Light PERSONAL USE.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Alt Medium PERSONAL USE.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outer-Sans';
  src: url('../../../public/fonts/outer-sans/MADE Outer Sans Alt Regular PERSONAL USE.otf');
  font-weight: 400;
  font-style: normal;
}

