//<FORM>
// Сніппет (HTML):

.form-wrapper {
  display: inline-block;
  border-radius: 20px;

  @include adaptiveValue('padding-top', 60, 0);
  @include adaptiveValue('padding-bottom', 60, 0);
  @include adaptiveValue('padding-right', 40, 0);
  @include adaptiveValue('padding-left', 40, 0);

  @media (max-width: $mobileSmall) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: $tablet) {
    background-color: var(--form-bg);
    box-shadow: var(--form-shadow);
    border-radius: 20px;
  }
}

.form {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;

  &_bg {

}

&__row {
}

&__column {
}

&__line {
}

&__input {
}

&__button {
}

&__error {
  margin-bottom: 8px;
}

}

.search-form {
  position: relative;


  &__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    font-size: 24px;
  }


}

//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
@import "button";

// <INPUTS>
// Сніппет (HTML): inp
@import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
@import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
@import "datepicker";
