//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-wrapper {
  @include adaptiveValue('margin-bottom', 18, 24);
}

.input-code-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;

  &__hide {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
  }
}

.input-label {
  text-align: center;
  font-weight: 600;

  @include adaptiveValue('font-size', 18, 16);
  @include adaptiveValue('line-height', 22, 20);


  & > div {
    font-weight: 600;
    @include adaptiveValue('margin-bottom', 14, 10);
  }

  @media (max-width: $mobileSmall) {
    font-weight: 500;
  }
}

.input-alter-action {
  text-align: center;
  @include adaptiveValue('font-size', 18, 16);
  @include adaptiveValue('line-height', 22, 20);
  @include adaptiveValue('margin-top', 30, 24);
  font-weight: 600;
  background-image: var(--primary);
  background-clip: text;
  color: transparent;

  @media (max-width: $mobileSmall) {
    font-weight: 500;
  }
}


.input {
  width: 100%;
  display: block;
  border-radius: 20px;
  font-weight: 500;
  border: 1px solid var(--text-secondary);
  transition: all 0.3s ease-in-out;
  position: relative;

  @include adaptiveValue('font-size', 17, 12);
  @include adaptiveValue('line-height', 21, 14);

  @media (max-width: $mobileSmall) {
    font-weight: 400;
  }


  &_simple-text {
    padding: 14px 24px;

    @media (max-width: $mobileSmall) {
      padding: 12px 20px;
    }
  }

  &_code {
    padding: 9px 10px;
    text-align: center;
    font-weight: 700;
    border-radius: 15px;

    @include adaptiveValue('font-size', 22, 18);
    @include adaptiveValue('width', 40, 32);
    @include adaptiveValue('height', 50, 40);
  }

  &__icon {
    color: var(--text-secondary);
  }



  &:focus {
    outline: none;
    border: 1px solid var(--input-border);
    box-shadow: var(--input-focus-shadow);

    & ~ .validation-list {
      display: inline-block;
    }
  }

  &._form-error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    margin-bottom: 5px;

    &:focus {
      box-shadow: var(--input-error-shadow) !important;
    }
  }

  &._form-success {
    color: var(--success-color);
    border: 1px solid var(--success-color);

    &:focus {
      box-shadow: var(--input-success-shadow) !important;
    }
  }

  &._form-warning {
    color: var(--warning-color);
    border: 1px solid var(--warning-color);

    &:focus {
      box-shadow: var(--input-warning-shadow) !important;
    }
  }

  &._inactive {
    opacity: 0.3;
    pointer-events: none;
  }
}

.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}


.validation-list {
  text-align: left;
  display: none;
  margin: 9px auto 0;

  &__item {
    margin-bottom: 5px;
    padding-left: 14px;
    position: relative;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      display: block;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }

    &_error {
      color: var(--error-color);

      &:before {
        background: url('/images/assets/error.svg') center / contain no-repeat;
      }
    }

    &_success {
      color: var(--success-color);

      &:before {
        background: url('/images/assets/success.svg') center / contain no-repeat;
      }
    }
  }
}
