.login {

  &__header {
    margin-bottom: 28px;
    text-align: center;
  }

  &__form {
    text-align: center;
  }

  &__forgot {
    display: inline-block;

    a {
      display: inline-block;
    }
  }

  &__assets {
    @include adaptiveValue('margin-bottom', 20, 16);
    @include adaptiveValue('font-size', 18, 14);
    @include adaptiveValue('line-height', 22, 18);
    color: var(--text-secondary);


    text-align: center;
    display: block;
    font-family: 'Lato', sans-serif;
    //margin: 0 auto;

  }

  &__btn {
    @include adaptiveValue('margin-bottom', 20, 16);
  }
}

