.login {

  &__header {
    margin-bottom: 28px;
    text-align: center;
  }

  &__form {
    @include adaptiveValue('margin-bottom', 22, 16);
  }

  &__or {
    text-align: center;
    font-family: 'Lato', sans-serif;

    @include adaptiveValue('margin-bottom', 20, 16);
    @include adaptiveValue('font-size', 18, 14);
    @include adaptiveValue('line-height', 22, 18);
  }

  &__btn {
    @include adaptiveValue('margin-bottom', 20, 16);
  }
}

