*::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--bg-secondary);        /* color of the tracking area */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scroll-bg);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  //border: 3px solid orange;  /* creates padding around scroll thumb */
}